* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 330vh;
    background-color: rgba(249, 246, 246, 0.717);
}
@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}
nav {
    background: #0b0b0c54;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 2.5rem;
}
nav ul li {
    display: inline-block;
    line-height: 43px;
    margin: 0 5px;
}
nav ul li a {
    color: rgb(10, 10, 10);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a:hover {
    background: white;
    transition: .5s;

}
.Home {
    color: rgb(10, 10, 10);
    font-size: 17px;
    margin-left: 50rem;
    padding: 7px 13px;
    border-radius: 3px;
    transition: .5s;
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    background-color: lightcoral;
    padding: 5px 10px;
    border-radius: 10px; 
    text-align: center;
    transition: background-color 0.3s ease; 
}
.logo {
    width: 4%;
    height: auto;
    margin-top: .5rem;
    margin-left: 1rem;
}
.middle{
    padding-left: 33rem;
    margin-top: 0rem;
    width: 200%;
    height: 50rem;
    position: relative;
    max-width: 100%;
    background: url(../img/beatsbg.jpeg) no-repeat center center; 
    background-size: cover; /* Cover the entire container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff; /* White text color */
    padding: 200px;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover; 
    padding: 40px; /* Padding inside the container */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures child elements don't overflow the container */
    z-index: 0; 

}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: lightcoral;
    font-size: 5rem;
    margin-left: 5rem;
    margin-top: 10rem;
}
.titlebtm {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 5rem;
    color: whitesmoke;
    margin-left: 5rem;
}

.description1 {
    font-size: 1rem;
    margin-top: 7rem;
    margin-left: 6rem;
    z-index: 1; 
    color: #ffffff; 
    background-color: rgba(240, 128, 128, 0.092); 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
}
.description2 {
    font: 1rem;
    margin-top: .5rem;
    margin-left: 3rem;
}
.btn1 {
    margin-top: 3rem;
    font-size: 1.5rem;
    padding: 5px 15px;
    margin-left: -15rem;
    background-color: #12121182;
    color: #ffffff; 
    text-decoration: none;
    border-radius: 8px; 
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.btn2 {
    font-size: 1.5rem;
    padding: 5px 15px;
    margin-left: 20rem;
    margin-top: -2.6rem;
    background-color: lightcoral;
    color: #020101; 
    text-decoration: none;
    border-radius: 8px; 
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.middleprt {
    margin-left: 47rem;
    margin-top: 25rem;
    width: 25rem;
    height: 27rem;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(252, 249, 249, 0.366); /* Semi-transparent background */
    color: rgb(17, 6, 6);
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Shadow effect */
    z-index: 0; /* Ensure it is behind the text */
}
.card0 {
    width: 300px;
    height: 600px;
    margin-top: -30rem;
    margin-left: 2rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(252, 249, 249, 0.366); /* Semi-transparent background */
    color: rgb(17, 6, 6);
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Shadow effect */
    z-index: 0; /* Ensure it is behind the text */
  }
  
  .card0:hover {
    transform: scale(1.05);
  }
  
  .card-content0 {
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .card0:hover .card-content0 {
    background-color: #fff;
  }
  
  .card0 h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
.card0 p {
    margin: 10px 0 0;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #666;
  }
  

.view{ 
    width: 450px;
    height: 400px;
    margin-top: 12rem;
    margin-left: 33rem;
    position: relative;
    animation: spin 10s infinite linear;
}

.title2{
    color: #020101;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    margin-top: 2rem;
    margin-left: 38rem;
    align-items: center;
    z-index: 0; /* Ensure it is behind the text */
}
.description3{
    color: #020101;
    position: absolute;
    margin-top: 6rem;
    margin-left: 42.2rem;
    text-align: center;
    align-items: center;

}
.card-wrapper {
    display: flex;
    gap: 20px; /* Adjust the gap between cards as needed */
    background-color: rgba(9, 9, 9, 0.733); /* Semi-transparent background */
    color: rgb(17, 6, 6);
    padding: 50px;
    text-align: center;
    margin-top: 9rem;
    height: 78rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Shadow effect */
    z-index: 0; /* Ensure it is behind the text */
}
.card-container {
    perspective: 1000px;
}

.card {
    width: 400px;
    height: 700px;
    margin-top: 2rem;
    margin-left: 2rem;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    cursor: pointer;
    transition: transform 0.5s;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

.front {
    background-image: url(../img/beatscushions.jpg);
    background-color: #ffffff; /* Fallback color */
}

.back {
    background-image: url(../img/beatscushions.jpg);
    transform: rotateY(180deg);
}
.card-container1 {
    perspective: 1000px;
}

.card1 {
    width: 350px;
    height: 300px;
    margin-top: 2rem;
    margin-left: 5rem;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    cursor: pointer;
    transition: transform 0.5s;
}

.card-container1:hover .card1 {
    transform: rotateY(180deg);
}

.front1, .back1 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

.front1 {
    background-image: url(../img/usbc.jpeg);
    background-color: #ffffff; /* Fallback color */
}

.back1 {
    background-image: url(../img/usbc.jpeg);
    transform: rotateY(180deg);
}

.card2 {
    width: 350px;
    height: 300px;
    margin-top: -72.7rem;
    margin-left: 65rem;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    cursor: pointer;
    transition: transform 0.5s;
}

.card-container2:hover .card2 {
    transform: rotateY(180deg);
}

.front2, .back2 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

.front2 {
    background-image: url(../img/beatsaudio.jpg);
}

.back2 {
    transform: rotateY(180deg);
    background-color: rgb(247, 249, 251);
    color: #020101;
}
.card3 {
    width: 790px;
    height: 350px;
    margin-top: 3.1rem;
    margin-left: 37rem;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    cursor: pointer;
    transition: transform 0.5s;
}

.card-container3:hover .card3 {
    transform: rotateY(180deg);
}

.front3, .back3 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

.front3 {
    background-image: url(../img/beatscharger.jpeg);
}

.back3 {
    background-color: #ffffff;
    transform: rotateY(180deg);
    color: rgb(1, 1, 1);
}
.card4 {
    width: 1260px;
    height: 350px;
    margin-top: 3rem;
    margin-left: 6.6rem;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    cursor: pointer;
    transition: transform 0.5s;
}

.card-container4:hover .card4 {
    transform: rotateY(180deg);
}

.front4, .back4 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

.front4 {
    background-image: url(../img/beatsconnect.jpg);
    background-color: #ffffff; /* Fallback color */
    font-size: 1.5rem;
}  

.back4 {
    background-image: url(../img/beatsconnect.jpg);
    transform: rotateY(180deg);
    color: aliceblue;
}